* {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.05);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51, 0.705);
    border-radius: 15px;
}

.app {
    max-width: 768px;
    margin: auto;
}

.grid {
    margin-left: 14px;
    margin-right: 14px;
}

.not-grid {
    margin-left: -14px;
    margin-right: -14px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

.red-color-text {
    color: #d32323;
}

.small-text {
    font-size: 8px;
}

.align-item {
    display: flex;
    align-items: center;
}

.now-playing {
    margin-top: 4px;
    margin-bottom: -10px;
}

.music-player {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 8px;
}

.music-player__body {
    margin: 24px 0;
}

.music-player__body-cd {
    border-radius: 100%;
    user-select: none;
}

.music-player__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
    padding-bottom: 18px;
}

.icon-hover,
.music-player__footer-icon {
    opacity: 0.6;
    font-size: 16px;
    padding: 14px 16px;
    cursor: pointer;
    border-radius: 100%;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    user-select: none;
}

.icon-hover:hover,
.music-player__footer-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.music-player__footer-pause {
    padding: 16px 20px;
    background-color: #ff5a00;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: .5s;
}

.music-player__footer-pause:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.music-player__tab {
    margin: 24px auto;
    width: 90%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
}

.music-player__tab-head {
    width: 133px;
    height: 4px;
    border-radius: 15px;
    background-color: #ff5a00;
    position: absolute;
    left: 0;
}

.music-player__tab-head-after {
    width: 10px;
    height: 10px;
    background-color: #ff5a00;
    border-radius: 100%;
    position: absolute;
    left: 133px;
    top: -72%;
    transition-duration: .3s;
}

.music-player__tab-head-after:hover {
    transform: scale(1.6);
    box-shadow: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.all-songs {
    margin-top: 24px;
}

.song {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: 12px 0;
}

.song__img {
    width: 60px;
    border-radius: 100%;
}

.song__body {
    flex: 1;
    margin-left: 20px;
}

.song__body-header {
    font-size: 16px;
}

.song__body-artist {
    font-size: 14px;
}

.song__info {
    margin-right: -10px;
}

.line-wrap {
    justify-content: space-around;
}

.line {
    margin: 34px 0;
    width: 30%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}
